.App {
  text-align: center;

}

.App-header {
  color: #fff;
  background-color: #103D5D;
  padding: 33px 15px 25px 15px;
  min-height: 50px;
  font-size: calc(10px + 2vmin);
}

.left {
  float: left;
}

.right {
  float: right;
}

.header-link {
  color: #c6cbce;
  text-decoration: none;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 0.3px;
}

button {
  border-radius: 2px;
  min-width: 88px;
  background-color: #FA6900;
  cursor: pointer;
  border: 0;
  min-width: 120px;
  color: #fff;
  font-size: 14px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  padding: 10px 6px;
}

.course-listings-table {
  text-align: left;
  border-spacing: 10px;
}

.course-number-button {
     background:none!important;
     color:inherit;
     border:none;
     padding:0!important;
     box-shadow: none;
     font: inherit;
     /*border is optional*/
     text-decoration: underline;
     cursor: pointer;
     text-align: left;
}

.divider{
    width:25px;
    height:auto;
    display:inline-block;
}

.main-content {
  padding: 15px 15px 15px 15px;
}
